# Ignore build directories
cmake-build-debug/
cmake-build-release/

# Ignore other common build files
*.o
*.obj
*.so
*.exe
*.out
*.dSYM/

# Ignore IDE files (e.g., CLion)
.idea/

# Ignore log files
*.log